.App {
  text-align: center;
}

.header {
  display: flex;
  background-color: gray;
  justify-content: space-between;
}

.MainPage {
  display: flex;
  background-color: rgb(104, 105, 38);
  justify-content: stretch;
}

#comment {
  border-bottom: 20px;
}

.filters {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.coding {
  background-image: url("./images/vector-computer-illustration-set.jpg");
  background-size: 500px 500px;
}

.football {
  background-image: url("./images/istockphoto-904154438-612x612.jpg");
}
.cooking {
  background-image: url("./images/vector-spanish-food-pattern.jpg");
}

.boxed {
  background-color: gainsboro;
  border-radius: 25px;
  border: black;
  border-style: solid;
  margin: 2em;
}

.avatar {
  height: 90%;
  width: 12%;
}

.commentBox {
  width: 100%;
  max-width: 600px;
  height: 80px;
  margin: 2em;
}

#form {
  display: flex;
  justify-content: center;
}
