.App {
  text-align: center;
}

.header {
  display: flex;
  background-color: gray;
  justify-content: space-between;
}

.MainPage {
  display: flex;
  background-color: gainsboro;
  /* 
  background-image: url("./markus-spiske-1171520-unsplash.jpg");
  width: 50%; */
}

#comment {
  border-bottom: 20px;
}

.filters {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
